/* Full-width input fields */
.login {
  display: flex;
  margin: 0 auto;
  text-align: left;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .error-message {
    color: #ed6237;
    font-size: 15px;
    margin: 2px 0 0;
    text-align: center;
  }
}
